body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(241, 239, 239);
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    height: 48px;
    transition: .7s;
    border: 1px solid;
    padding: 10px;
    box-shadow:  0 4px 2px -2px rgb(116, 113, 113);
  }
  
  .topnav a {
    float: left;
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;
  }
  .fa{
    margin: 20px;
  }
  .fa:hover {
    background: none;
  }
  
  .topnav a:hover {
    
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive {
   
    height: 500px;
    }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
 
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .first{
        margin-top: 100px;
    }
 
  
  
 